<header>
    <div class="container">
        <div class="header">
            <div class="logo">Node JS & Express JS & EJS</div>
            <nav>
                <a class="link" href="/">Home</a>
                <a class="link" href="/about">About</a>
            </nav>
            <form method="post" action="/search-user">
                <input name="userName" class="textInput" type="text" placeholder="Search for abything..."/>
                <input class="submitInput" type="submit" value="search" />
            </form>
        </div>
    </div>
</header>