<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" >
    <title>Node JS</title>
</head>
<body>
    <%- include('components/header') -%>
    <h1 class="mainTitle">User page created with Node JS, Express JS, EJS</h1>
    <h2 class="mainTitle">User: <%= userName %></h2>
    <h3 class="mainTitle">Hobbies:</h3>
    <% if(userName.length !== 0){ %>
        <ul>
            <% hobbies.forEach(el => {%>
                <li class="liItem"><%= el%></li>
            <% }) %>
        </ul>
    <% } %>

</body>
</html>